@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label ">公司选择</label>
            <div class="col-sm-8">
                <div id="parentId" col="ParentId"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">门店名称</label>
            <div class="col-sm-8">
                <input id="branchName" col="BranchName" type="text" class="form-control" />
            </div>
        </div>
        <div id="test1" class="form-group">
            <label class="col-sm-3 control-label ">门店位置</label>
            <div class="col-sm-8">
                <input id="branchArea" col="BranchArea" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">房间数量</label>
            <div class="col-sm-8">
                <input id="houseCount" col="HouseCount" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">显示顺序</label>
            <div class="col-sm-8">
                <input id="branchSort" col="BranchSort" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">支付方式</label>
            <div class="col-sm-8">
                <div id="PayId" col="PayIds"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">门店渠道</label>
            <div class="col-sm-8" id="channelId" col="ChannelIds"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">备注</label>
            <div class="col-sm-8">
                <textarea id="remark" col="Remark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        $("#channelId").ysCheckBox({
            url: '@Url.Content("~/HotelManage/Channel/GetListJson")',
            key: "Id",
            value: "ChannelName"
        });

        $("#PayId").ysComboBox({
            url: '@Url.Content("~/HotelManage/Pay/GetListJson")',
            key: "Id",
            value: "PayName",
            class: "form-control",
            multiple: true
        });

        $('#parentId').ysComboBoxTree({ url: '@Url.Content("~/HotelManage/Branch/GetBranchTreeListJson")', async: false });

        getForm();

        $('#form').validate({
            rules: {
                branchName: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Branch/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
             ys.ajax({
                 url: '@Url.Content("~/HotelManage/Branch/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#branchSort").val(obj.Data);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            postData.ParentId = ys.getLastValue(postData.ParentId);
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Branch/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchTreeGrid(obj.Data);
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

