@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/bootstrap.table/1.12.0/bootstrap-table.min.css"))
@BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/bootstrap.table/1.12.0/bootstrap-table.min.js"))
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-1 control-label ">姓名</label>
            <div class="col-sm-5">
                <input id="orderName" col="OrderName" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">渠道</label>
            <div class="col-sm-5">
                <div id="channelId" col="ChannelId" class="is-edit"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label ">手机</label>
            <div class="col-sm-5">
                <input id="phone" col="Phone" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">管家</label>
            <div class="col-sm-5">
                <div id="stewardId" col="StewardId" class="is-edit"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label ">单号</label>
            <div class="col-sm-5">
                <input id="orderNumber" col="OrderNumber" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">预审</label>
            <div class="col-sm-5">
                <div id="isFinish" col="IsFinish" class="is-edit is-pre"></div>
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-1 control-label ">房型</label>
            <div class="col-sm-5">
                <input id="houseTypeId" col="HouseTypeId" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">房号</label>
            <div class="col-sm-5">
                <input id="houseNumberId" col="HouseNumberId" type="text" class="form-control is-edit" />
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-1 control-label ">入住日期</label>
            <div class="col-sm-5">
                <input id="startDate" col="StartDate" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">离店日期</label>
            <div class="col-sm-5">
                <input id="endDate" col="EndDate" type="text" class="form-control is-edit" />
            </div>
            @*<label class="col-sm-1 control-label ">单价</label>
            <div class="col-sm-5">
                <input id="unitPrice" col="UnitPrice" type="text" class="form-control is-edit" />
            </div>*@
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label ">昵称</label>
            <div class="col-sm-5">
                <input id="nickname" col="Nickname" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">财务</label>
            <div class="col-sm-5">
                <div id="isFinance" col="IsFinance" class="is-edit is-finance"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label ">总价</label>
            <div class="col-sm-5">
                <input id="totalPrice" col="TotalPrice" type="text" class="form-control is-edit" />
            </div>
            <label class="col-sm-1 control-label ">状态</label>
            <div class="col-sm-5">
                <div id="state" col="State" class="is-edit"></div>
            </div>
        </div>
        <div class="form-group" style="display:none;">
            @*<label class="col-sm-1 control-label ">总间夜数</label>
            <div class="col-sm-5">
                <input id="houseCount" col="HouseCount" type="text" class="form-control is-edit" />
            </div>*@
            <label class="col-sm-1 control-label ">门店</label>
            <div class="col-sm-5">
                <div id="branchId" col="BranchId" class="is-edit"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label ">备注</label>
            <div class="col-sm-11">
                <textarea id="remark" col="Remark" class="form-control is-edit" style="height:60px"></textarea>
            </div>
        </div>
        <div>
            <hr style="border:0.1px dashed lightgray" width="100%" color="lightgray" size=1>
        </div>
    </form>
    <div class="container-div">
        <div class="row">
            <div class="btn-group-sm hidden-xs is-edit">
                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="gridTable" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/moment/moment.min.js"></script>
<script type="text/javascript">
    var id = ys.request("id");
    var branchId = parent._eventData.BranchId;

    //自定义validate验证输入的数字小数点位数不能大于两位
    jQuery.validator.addMethod("minNumber", function (value, element) {
        var returnVal = true;
        inputZ = value;
        var ArrMen = inputZ.split(".");    //截取字符串
        if (ArrMen.length == 2) {
            if (ArrMen[1].length > 2) {    //判断小数点后面的字符串长度
                returnVal = false;
                return false;
            }
        }
        return returnVal;
    }, "小数点后最多为两位");         //验证错误信息

    $(function () {
        $('#form').validate({
            rules: {
                orderName: { required: true },
                phone: { isPhone: true },
                totalPrice: {
                    required: true,
                    number: true,
                    min: 0,
                    minNumber: true
                },
            }
        });

        $("#state").ysRadioBox({
            data: ys.getJson(@Html.Raw(typeof(OrderTypeEnum).EnumToDictionaryString())),
            class: "form-control",
        });

        $("#isFinish").ysRadioBox({
            data: ys.getJson(@Html.Raw(typeof(CheckTypeEnum).EnumToDictionaryString())),
            class: "form-control",
        });

        $("#isFinance").ysRadioBox({
            data: ys.getJson(@Html.Raw(typeof(CheckTypeEnum).EnumToDictionaryString())),
            class: "form-control",
        });

        ys.ajax({
            url: '@Url.Content("~/HotelManage/Branch/GetFormJson")' + "?id=" + branchId,
            type: 'get',
            async: 'false',
            success: function (obj) {
                var pids = obj.Data.ChannelIds;
                ys.ajax({
                    url: '@Url.Content("~/HotelManage/Channel/GetListJson")',
                    async: 'false',
                    success: function (obj) {
                        var tempList = [];
                        for (var i = 0; i < obj.Data.length; i++) {
                            if (pids.indexOf(obj.Data[i].Id) > -1)
                                tempList.push(obj.Data[i]);
                        }
                        $("#channelId").ysComboBox({
                            data: tempList,
                            key: "Id",
                            value: "ChannelName",
                            class: "form-control"
                        });

                        $("#stewardId").ysComboBox({
                            url: '@Url.Content("~/OrganizationManage/User/GetStewardJson")' + '?id=' + branchId,
                            key: "Id",
                            value: "RealName",
                            class: "form-control",
                        });
                        getForm();
                    }
                })
            }
        });
    });

    function getForm() {
        $('#form').setWebControls(parent._eventData);
        $('.select2-container').css("width", "100%");
        if (parent._eventData.IsFinance == 1||ys.getCookie("IsOrder")==0) {
            $('input,textarea').attr("disabled", "disabled");
            $('.select2').attr("disabled", "disabled");
            $('.btn').css("display", "none");
        }
        if (ys.getCookie("IsFinance") == 0)
            $('.is-finance input').attr("disabled", "disabled");
        else
            $('.is-finance input').removeAttr("disabled");
        if (ys.getCookie("IsPre") == 0)
            $('.is-pre input').attr("disabled", "disabled");
        else
            $('.is-pre input').removeAttr("disabled");
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var houseCount = moment(parent._eventData.EndDate).diff(moment(parent._eventData.StartDate), 'days');
            var unitPrice = (parseFloat($("#totalPrice").val()) / parseFloat(houseCount)).toFixed(2);
            var postData = $('#form').getWebControls({ Id: id, HouseCount: houseCount, UnitPrice: unitPrice });
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Order/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.calendar.refetchEvents();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }

    $(function () {
        initGrid(id);
    });

    function initGrid(orderId) {
        var queryUrl = "";
        if (orderId > 0) {
           queryUrl= '@Url.Content("~/HotelManage/Proceeds/GetPageListJson2")' + '?orderId=' + orderId;
        }
        else {
            return;
        }
        $('#gridTable').ysTable({
            url: queryUrl,
            showFooter: true,
            pagination: false,
            showToggle:false,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'PayName', title: '支付方式' },
                {
                    field: 'Amount',
                    title: '金额',
                    footerFormatter: function (value) {
                        var sumAmount = 0;
                        for (var i in value) {
                            sumAmount += parseFloat(value[i].Amount);
                        }
                    return "￥"+sumAmount;
                    }
                },
                {
                    title: '图片',
                    field:'PayImage',
                    formatter: function (value, row, index) {
                        var imageUrl = value;
                        if (!ys.isNullOrEmpty(imageUrl)){
                                var images = value.split(";");
                                var hl = "";
                                for(var i = 0; i<images.length; i++) {
                                hl += '<img class="img-circle img-xs" src="' + images[i] + '" onclick=showImage("' + images[i] + '") />';
                            }
                        return hl;
                        }
                        return "";
                    }
                },
                { field: 'Remark', title: '备注' },
                {
                    field: 'BaseModifyTime', title: '创建时间', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
                { field: 'RealName', title: '创建人' },
            ]
        });
    }

    function showImage(imageUrl) {
        var html = '<img src="' + imageUrl + '" width="100%" height="100%" class="img-responsive" />';
        ys.openDialogContent({
            content: html,
            width: '90%',
            //height: 'auto',
            closeBtn: true
        });
    }

    function showSaveForm(bAdd) {
        if (!$('#form').validate().form())
            return;
        if ($('#form').validate().form()&&id==0) {
            var houseCount = moment(parent._eventData.EndDate).diff(moment(parent._eventData.StartDate), 'days');
            var unitPrice = (parseFloat($("#totalPrice").innerText) / parseFloat(houseCount)).toFixed(2);
            var postData = $('#form').getWebControls({ Id: id, HouseCount: houseCount, UnitPrice: unitPrice });
            ys.ajax({
                url: '@Url.Content("~/HotelManage/Order/SaveFormJson")',
                type: 'post',
                async: false,
                data: postData,
                success: function (obj) {  
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        id = obj.Data;
                        orderId = obj.Data;
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
        var  tempId = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                tempId = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/HotelManage/Proceeds/ProceedsForm")' + '?id=' + tempId+'&orderId='+id+'&branchId='+branchId,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm2(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/HotelManage/Proceeds/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            location.reload();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>

