@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/report/echarts/echarts.min.js"))
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>今日销售</h5>
                    <div class="ibox-tools">
                        <div class="btn-group-sm hidden-xs" id="toolbar">
                            <div id="searchDiv">
                                <input class="btn btn-default btn-sm" id="startDate" col="StartDate" type="text" />
                                <input id="branchId" col="BranchId" type="text" style="display:none">
                                <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a id="btnExport" class="btn btn-warning  btn-sm" onclick="exportForm()"><i class="fa fa-download"></i> 导出</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="gridTable" class="table select-table table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>日数据分析</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <a id="DailyProfitRateBtn" class="btn btn-box-tool hidden-xs">净利润</a>
                        <a id="DailyProfitBtn" class="btn btn-box-tool hidden-xs">销售额</a>
                        <a id="DailyHandBtn" class="btn btn-box-tool hidden-xs">销售量</a>
                        <a id="DailyPointBtn" class="btn btn-box-tool hidden-xs">销售成本</a>
                    </div>
                    <div class="echarts" id="DailyBaseChart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>月数据分析</h5>
                </div>
                <div class="ibox-content" style="height:310px">
                    <div>
                        <a id="MonthProfitRateBtn" class="btn btn-box-tool hidden-xs">净利润</a>
                        <a id="MonthProfitBtn" class="btn btn-box-tool hidden-xs">销售额</a>
                        <a id="MonthHandBtn" class="btn btn-box-tool hidden-xs">销售量</a>
                        <a id="MonthPointBtn" class="btn btn-box-tool hidden-xs">销售成本</a>
                    </div>
                    <div class="echarts" id="MonthBaseChart"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>对比数据分析</h5>
                </div>
                <div class="ibox-content" style="height:310px">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        月度
                                    </th>
                                    <th>
                                        环比
                                    </th>
                                    <th>
                                        年度
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-nowrap">时间</th>
                                    <td id="mp1"></td>
                                    <td id="hp1"></td>
                                    <td id="yp1"></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap">净利润</th>
                                    <td id="mp2"></td>
                                    <td id="hp2"></td>
                                    <td id="yp2"></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap">销售额</th>
                                    <td id="mp3"></td>
                                    <td id="hp3"></td>
                                    <td id="yp3"></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap">销售量</th>
                                    <td id="mp4"></td>
                                    <td id="hp4"></td>
                                    <td id="yp4"></td>
                                </tr>
                                <tr>
                                    <th class="text-nowrap">成本</th>
                                    <td id="mp5"></td>
                                    <td id="hp5"></td>
                                    <td id="yp5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>月产品分析</h5>
                </div>
                <div class="ibox-content">
                    <div id="Pie1Chart" style="height:500px"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>年产品分析</h5>
                </div>
                <div class="ibox-content">
                    <div id="Pie2Chart" style="height:500px"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/moment/moment.min.js"></script>
<script type="text/javascript">
    //#region 初始化参数
    var Pie1Chart = echarts.init(document.getElementById('Pie1Chart'));
    var Pie2Chart = echarts.init(document.getElementById('Pie2Chart'));
    var P1legendData = [];
    var P1series1Data = [];
    var P2legendData = [];
    var P2series1Data = [];

    var DailyBaseData = [];
    var DailyBaseChart = echarts.init(document.getElementById('DailyBaseChart'));

    var MonthBaseData = [];
    var MonthBaseChart = echarts.init(document.getElementById('MonthBaseChart'));

    var _branchId = ys.getCookie("BranchId");
    var vStartDate = moment().format("YYYY-MM-DD");
    $("#branchId").val(_branchId);
    $(function () {
        laydate.render({ elem: '#startDate', format: 'yyyy-MM-dd', value: vStartDate });
        Render_PieChart();
        getDailyDataList();
        getMonthDataList();
        getYearDataList();
        getPieMonthDataList();
        getPieYearDataList();
        initGrid();
    });
    //#endregion

    function initGrid() {
        var queryUrl = '@Url.Content("~/HotelManage/Sale/GetPageListJsonForDay")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { field: 'Id', title: 'Id', visible: false },
                {
                    field: 'BaseCreateTime', title: '创建时间', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
                {
                    field: 'BaseModifyTime', title: '修改时间', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
                {
                    field: 'CreateDate', title: '发生日期', formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd");
                    }
                },
                { field: 'SaleName', title: '客人名称' },
                { field: 'Phone', title: '手机号' },
                { field: 'IDNumber', title: '身份证号' },
                { field: 'SalePrice', title: '销售价' },
                { field: 'PurchasePrice', title: '采购价' },
                { field: 'Profit', title: '利润' },
                { field: 'Equity', title: '净利润' },
                { field: 'Commission', title: '管家提成' },
                {
                    field: 'IsFinish',
                    title: '预审',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.IsFinish == 0)
                            actions.push('<a href="#" style="color:red">未审核</a>');
                        else if (row.IsFinish == 1)
                            actions.push('<a href="#" style="color:black">已审核</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'IsFinance',
                    title: '财务审核',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.IsFinance == 0)
                            actions.push('<a href="#" style="color:red">未审核</a>');
                        else if (row.IsFinance == 1)
                            actions.push('<a href="#" style="color:black">已审核</a>');
                        return actions.join('');
                    }
                },
                { field: 'Remark', title: '备注' },
                { field: 'StewardName', title: '管家' },
                { field: 'ProductName', title: '产品' },
                { field: 'BranchName', title: '门店' },
                { field: 'CreateName', title: '创建人' },
                { field: 'ModifierName', title: '修改人' },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="#" onclick="showProceedsIndex(\'' + row.Id + '\')"><i class="fa fa-edit"></i>明细</a>');
                        return actions.join('');
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        getDailyDataList();
        getMonthDataList();
        getYearDataList();
        getPieMonthDataList();
        getPieYearDataList();
        resetToolbarStatus();
    }

    //#region 日分析报告
    $("#DailyProfitRateBtn").click(function () {
        Render_DailyBaseChart(DailyBaseData, 1);
    });

    $("#DailyProfitBtn").click(function () {
        Render_DailyBaseChart(DailyBaseData, 2);
    });

    $("#DailyHandBtn").click(function () {
        Render_DailyBaseChart(DailyBaseData, 3);
    });

    $("#DailyPointBtn").click(function () {
        Render_DailyBaseChart(DailyBaseData, 4);
    });

    var optionDailyBase = {
        //color: ['#3398DB','gray'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: [],
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        grid: {
            left: '3%',
            right: '8%',
            top: '15%',
            bottom: '5%',
            containLabel: true
        },
        dataZoom: [
            {
                id: 'dataZoomX',
                type: 'inside',
                xAxisIndex: [0],
                filterMode: 'filter'
            }
        ],
        xAxis:
        {
            type: 'category',
            data: []
        },
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                },
            }

        ],
        series: [
            {
                name: '',
                type: 'bar',
                barWidth: '60%',
                data: [],
                markPoint: {
                    data: [
                        { type: 'max', name: '最大值' },
                        { type: 'min', name: '最小值' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' }
                    ]
                },
                label: {
                    normal: {
                        show: false,
                        formatter: '{c}',
                        position: 'top',
                        textStyle: {
                            color: '#000'
                        }
                    }
                }
            },
        ]
    };

    function Render_DailyBaseChart(data, type) {

        optionDailyBase.xAxis.data = [];
        optionDailyBase.series[0].data = [];
        var seriesName = "";

        if (type == 1) {
            seriesName = "净利润";
        }
        else if (type == 2) {
            seriesName = "销售额";
        }
        else if (type == 3) {
            seriesName = "销售量";
        }
        else if (type == 4) {
            seriesName = "销售成本";
        }

        optionDailyBase.series[0].name = seriesName;
        optionDailyBase.legend.data.push(seriesName);
        if (data != null) {
            $.each(data, function () {
                optionDailyBase.xAxis.data.push(moment(this.StartDate).format("YYYY-MM-DD"));
                //净利润
                if (type == 1) {
                    optionDailyBase.series[0].data.push((this.Equity).toFixed(0));
                    optionDailyBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
                //销售额
                if (type == 2) {
                    optionDailyBase.series[0].data.push((this.Sale).toFixed(0));
                    optionDailyBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
                //销售量
                if (type == 3) {
                    optionDailyBase.series[0].data.push((this.Total).toFixed(0));
                    optionDailyBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('N' + p.value) : '';
                    };
                }
                //销售成本
                if (type == 4) {
                    optionDailyBase.series[0].data.push((this.Cost).toFixed(0));
                    optionDailyBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
            })

            if (type == 1) {
                optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionDailyBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            } else if (type == 2) {
                optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionDailyBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            } else if (type == 3) {
                optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 次';
                optionDailyBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 次";
                    return res;
                }
            } else if (type == 4) {
                optionDailyBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionDailyBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            }
            DailyBaseChart.setOption(optionDailyBase);
        }
    };
            //#endregion

    //#region 月分析报告
    $("#MonthProfitRateBtn").click(function () {
        Render_MonthBaseChart(MonthBaseData, 1);
    });

    $("#MonthProfitBtn").click(function () {
        Render_MonthBaseChart(MonthBaseData, 2);
    });

    $("#MonthHandBtn").click(function () {
        Render_MonthBaseChart(MonthBaseData, 3);
    });

    $("#MonthPointBtn").click(function () {
        Render_MonthBaseChart(MonthBaseData, 4);
    });

    var optionMonthBase = {
        //color: ['#3398DB','gray'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: [],
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        grid: {
            left: '3%',
            right: '8%',
            top: '15%',
            bottom: '5%',
            containLabel: true
        },
        dataZoom: [
            {
                id: 'dataZoomX',
                type: 'inside',
                xAxisIndex: [0],
                filterMode: 'filter'
            }
        ],
        xAxis:
        {
            type: 'category',
            data: []
        },
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value}'
                },
            }

        ],
        series: [
            {
                name: '',
                type: 'bar',
                barWidth: '60%',
                data: [],
                markPoint: {
                    data: [
                        { type: 'max', name: '最大值' },
                        { type: 'min', name: '最小值' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: '平均值' }
                    ]
                },
                label: {
                    normal: {
                        show: false,
                        formatter: '{c}',
                        position: 'top',
                        textStyle: {
                            color: '#000'
                        }
                    }
                }
            },
        ]
    };

    function Render_MonthBaseChart(data, type) {

        optionMonthBase.xAxis.data = [];
        optionMonthBase.series[0].data = [];
        var seriesName = "";

        if (type == 1) {
            seriesName = "净利润";
        }
        else if (type == 2) {
            seriesName = "销售额";
        }
        else if (type == 3) {
            seriesName = "销售量";
        }
        else if (type == 4) {
            seriesName = "销售成本";
        }

        optionMonthBase.series[0].name = seriesName;
        optionMonthBase.legend.data.push(seriesName);
        if (data != null) {
            $.each(data, function () {
                optionMonthBase.xAxis.data.push(moment(this.StartDate).format("YYYY-MM"));
                //净利润
                if (type == 1) {
                    optionMonthBase.series[0].data.push((this.Equity).toFixed(0));
                    optionMonthBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
                //销售额
                if (type == 2) {
                    optionMonthBase.series[0].data.push((this.Sale).toFixed(0));
                    optionMonthBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
                //销售量
                if (type == 3) {
                    optionMonthBase.series[0].data.push((this.Total).toFixed(0));
                    optionMonthBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('N' + p.value) : '';
                    };
                }
                //销售成本
                if (type == 4) {
                    optionMonthBase.series[0].data.push((this.Cost).toFixed(0));
                    optionMonthBase.series[0].label.normal.formatter = function (p) {
                        return (p.value > 0 || p.value < 0) ? ('￥' + p.value) : '';
                    };
                }
            })

            if (type == 1) {
                optionMonthBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionMonthBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            } else if (type == 2) {
                optionMonthBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionMonthBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            } else if (type == 3) {
                optionMonthBase.yAxis[0].axisLabel.formatter = '{value} 次';
                optionMonthBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 次";
                    return res;
                }
            } else if (type == 4) {
                optionMonthBase.yAxis[0].axisLabel.formatter = '{value} 元';
                optionMonthBase.tooltip.formatter = function (params) {
                    var res = params[0].seriesName + '<br/>' +
                        params[0].name + "：" + params[0].value + " 元";
                    return res;
                }
            }
            MonthBaseChart.setOption(optionMonthBase);
        }
    };

    function getDailyDataList() {
        ys.ajax({
            url: '@Url.Content("~/HotelManage/Sale/GetListJsonForDailyData")',
            type: 'get',
            data: getParams(),
            success: function (obj) {
                if (obj.Tag == 1) {
                    DailyBaseData = obj.Data;
                    Render_DailyBaseChart(DailyBaseData, 1);
                }
            }
        });
    }

    function getMonthDataList() {
        ys.ajax({
            url: '@Url.Content("~/HotelManage/Sale/GetListJsonForMonthData")',
            type: 'get',
            data: getParams(),
            success: function (obj) {
                if (obj.Tag == 1) {
                    MonthBaseData = obj.Data;
                    $("#mp1").text(MonthBaseData[12].StartDate);
                    $("#mp2").text(MonthBaseData[12].Equity.toFixed(0));
                    $("#mp3").text(MonthBaseData[12].Sale.toFixed(0));
                    $("#mp4").text(MonthBaseData[12].Total.toFixed(0));
                    $("#mp5").text(MonthBaseData[12].Cost.toFixed(0));

                    $("#hp1").text(MonthBaseData[11].StartDate);
                    var hp2 = (MonthBaseData[12].Equity - MonthBaseData[11].Equity).toFixed(0);
                    var hp3 = (MonthBaseData[12].Sale - MonthBaseData[11].Sale).toFixed(0);
                    var hp4 = (MonthBaseData[12].Total - MonthBaseData[11].Total).toFixed(0);
                    var hp5 = (MonthBaseData[12].Cost - MonthBaseData[11].Cost).toFixed(0);
                    if (hp2 < 0)
                        $("#hp2").html(hp2 + ' <i style="color:red" class="fa fa-arrow-down"></i>');
                    else
                        $("#hp2").html(hp2 + ' <i style="color:green" class="fa fa-arrow-up"></i>');
                    if (hp3 < 0)
                        $("#hp3").html(hp3 + ' <i style="color:red" class="fa fa-arrow-down"></i>');
                    else
                        $("#hp3").html(hp3 + ' <i style="color:green" class="fa fa-arrow-up"></i>');
                    if (hp4 < 0)
                        $("#hp4").html(hp4 + ' <i style="color:red" class="fa fa-arrow-down"></i>');
                    else
                        $("#hp4").html(hp4 + ' <i style="color:green" class="fa fa-arrow-up"></i>');
                    if (hp5 < 0)
                        $("#hp5").html(hp5 + ' <i style="color:red" class="fa fa-arrow-down"></i>');
                    else
                        $("#hp5").html(hp5 + ' <i style="color:green" class="fa fa-arrow-up"></i>');

                    MonthBaseData.shift();
                    Render_MonthBaseChart(MonthBaseData, 1);

                }
            }
        });
    }

    function getYearDataList() {
        ys.ajax({
            url: '@Url.Content("~/HotelManage/Sale/GetListJsonForYearData")',
            type: 'get',
            data: getParams(),
            success: function (obj) {
                if (obj.Tag == 1) {
                    $("#yp1").text(obj.Data.StartDate);
                    $("#yp2").text(obj.Data.Equity.toFixed(0));
                    $("#yp3").text(obj.Data.Sale.toFixed(0));
                    $("#yp4").text(obj.Data.Total.toFixed(0));
                    $("#yp5").text(obj.Data.Cost.toFixed(0));
                }
            }
        });
    }
    //#endregion

    //#region PieChart设置
    function Render_PieChart() {
        Pie1Chart.setOption({
            title: {
                text: '产品占比',
                x: 'center',
                show: true
            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: P1legendData,
            },
            series: [
                {
                    name: '金额占比',
                    type: 'pie',
                    radius: ['30%', '45%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center',
                            formatter: '{b} : {c} ({d}%)',
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '12',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    data: []
                },
                {
                    name: '产品占比',
                    type: 'pie',
                    radius: ['50%', '65%'],
                    label: {
                        normal: {
                            formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            rich: {
                                a: {
                                    color: '#999',
                                    lineHeight: 22,
                                    align: 'center'
                                },
                                hr: {
                                    borderColor: '#aaa',
                                    width: '100%',
                                    borderWidth: 0.5,
                                    height: 0
                                },
                                b: {
                                    fontSize: 16,
                                    lineHeight: 33
                                },
                                per: {
                                    color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                                }
                            }
                        }
                    },
                    data: []
                }
            ]
        });
        Pie1Chart.showLoading();
        Pie2Chart.setOption({
            title: {
                text: '产品占比',
                x: 'center',
                show: true
            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: P2legendData,
            },
            series: [
                {
                    name: '金额占比',
                    type: 'pie',
                    radius: ['30%', '45%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center',
                            formatter: '{b} : {c} ({d}%)',
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '12',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    data: []
                },
                {
                    name: '产品占比',
                    type: 'pie',
                    radius: ['50%', '65%'],
                    label: {
                        normal: {
                            formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            rich: {
                                a: {
                                    color: '#999',
                                    lineHeight: 22,
                                    align: 'center'
                                },
                                hr: {
                                    borderColor: '#aaa',
                                    width: '100%',
                                    borderWidth: 0.5,
                                    height: 0
                                },
                                b: {
                                    fontSize: 16,
                                    lineHeight: 33
                                },
                                per: {
                                    color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                                }
                            }
                        }
                    },
                    data: []
                }
            ]
        });
        Pie2Chart.showLoading();
    }
    function getPieMonthDataList() {
        ys.ajax({
            url: '@Url.Content("~/HotelManage/Sale/GetListJsonForPieMonthData")',
            type: 'get',
            data: getParams(),
            success: function (obj) {
                P1legendData = [];
                P1series1Data = [];
                P1series2Data = [];
                if (obj.Tag == 1) {
                    for (var i = 0; i < obj.Data.length; i++) {
                        P1legendData.push(obj.Data[i].Product);
                        P1series1Data.push({ name: obj.Data[i].Product, value: obj.Data[i].Total });
                    }
                    Pie1Chart.hideLoading();
                    Pie1Chart.setOption({
                        legend: {
                            show: true,
                            data: P1legendData
                        },
                        series: [
                            {
                                data: P1series1Data
                            },
                            {
                                data: P1series2Data
                            },
                        ]
                    });
                }
            }
        });
    }
    function getPieYearDataList() {
        ys.ajax({
            url: '@Url.Content("~/HotelManage/Sale/GetListJsonForPieYearData")',
            type: 'get',
            data: getParams(),
            success: function (obj) {
                P2legendData = [];
                P2series1Data = [];
                P2series2Data = [];
                if (obj.Tag == 1) {
                    for (var i = 0; i < obj.Data.length; i++) {
                        P2legendData.push(obj.Data[i].Product);
                        P2series1Data.push({ name: obj.Data[i].Product, value: obj.Data[i].Total });
                    }
                    Pie2Chart.hideLoading();
                    Pie2Chart.setOption({
                        legend: {
                            show: true,
                            data: P2legendData
                        },
                        series: [
                            {
                                data: P2series1Data
                            },
                            {
                                data: P2series2Data
                            },
                        ]
                    });
                }
            }
        });
    }

            //#endregion

    function getParams(){
        var queryString = $('#searchDiv').getWebControls();
        return queryString;
    }

    function exportForm() {
    var url = '@Url.Content("~/HotelManage/Sale/ExportSaleJson2")';
    var postData = $("#searchDiv").getWebControls();
    ys.exportExcel(url, postData);
    }

    function showProceedsIndex(id) {
        ys.openDialog({
            title: "收款明细",
            content: '@Url.Content("~/HotelManage/Proceeds/ProceedsIndex")' + '?saleId=' + id,
            btn: ['关闭'],
            closeBtn: 0,
            callback: function (index, layero) {
                layer.close(index);
            }
        });
    }

    setTimeout(function () {
        window.onresize = function () {
            MonthBaseChart.resize();
            DailyBaseChart.resize();
            Pie1Chart.resize();
            Pie2Chart.resize();
        }
    }, 200);

</script>
